.content
  .span-24
    %h1 Bienvenue !
    %h2 Diaspod.fr est un serveur (pod) du réseau social décentralisé et libre Diaspora.
  
  .span-12
    %ul
      %li Réseau décentralisé permettant un meilleur contrôle de ses données
      %li La philosophie de Diaspora vous assure la protection de votre vie privée
      
    .center
      .large= link_to "S'inscrire", "/users/sign_up"
  
  .span-12.last
    = image_tag 'screenshot.png'
