.content
  .span-24
    %h2 Questions fréquentes
    
    %h3 Qu'est ce que Diaspod* ?    
    %p
      Diaspod est un « pod » ou serveur du réseau Diaspora*. Il permet à tous de rejoindre gratuitement ce réseau social.
            
    %h3 Quel est la différence entre Diaspod* et Diaspora* ?    
    %p
      Diaspora est le nom du projet et du réseau social décentralisé. Diaspod est un pod faisant parti de ce réseau, il est maintenu par la société Nilsine. L'ensemble des 
      %a{:href => "http://podupti.me/", :target => "_blank"}pods 
      constitue la totalité du réseau.
      
    %h3 Quel est la politique de confidentialité des données ?
    %p
      Nilsine EURL certifie qu'aucune donnée d'aucune sorte ne sera vendue ou cédée à un tiers ni à un collaborateur de la société.

    %h3 Où sont stockées les données et le service ?
    %p
      L'application ainsi que la base de donnée contenant les données texte sont hébergées dans un des serveurs du centre de donnée de la société OVH située à Roubaix en France. Les contenus média sont hébergées dans le centre de donnée d'Amazon en Irelande.

    %h3 Qu'en est-il du tracking ?
    %p
      A des fins de statistiques et de suivi de l'application un code de suivi (tracking) est installée sur toutes les pages du service qui collecte et analyse des données sur des serveurs internes de Nilsine (pas d'utilisation de service tiers). Vous pouvez délibérément désativer ce suivi:
    :preserve
      <iframe frameborder="no" width="600px" height="200px" src="http://nilsine.net/index.php?module=CoreAdminHome&action=optOut&language=fr"></iframe>